.modal-wrapper .close-custom {
    width: 12px;
    height: 12px;
}

.not-move .widget-header {
    cursor: default !important;
}

.not-move {
    cursor: default !important;
}

.btn {
    outline: none !important;
}

#widget > div:nth-child(3) > div.empty-btn {
    margin-top: 60px !important;
}

.modal-wrapper, .modal-dialog {
    border: 1px solid #47c1f3;
    outline: 1px solid #116bff;
}

.modal-dialog button:hover, .empty-btn .togglebutton label:hover, .panel-body .row i:hover {
    color: #ffffff !important;
}

.modal-dialog button, .empty-btn .togglebutton label, .modal-header button, .modal-header h4, .panel-body .row i {
    color: #bbbbbb !important;
}

.default-text-color {
    color: #bbbbbb !important;
}

.modal-dialog button,
.modal-dialog button:hover {
    outline: none !important;
    background: transparent !important;
    border: none;
}

.modal-header span {
    font-size: 18px;
    width: 100%;
    display: inline-block;
    color: #fff;
    padding: 5px 7px;
}

.modal-dialog {
    color: lightgrey;
}

.modal-dialog input,
.modal-body input {
    color: #ffffff;
}

.modal-body button, .modal-body button:hover {
    outline: none!important;
    background: transparent!important;
    border: none;
}

.default-text-color, .empty-btn .togglebutton label, .modal-body button, .modal-header button, .modal-header h4, .panel-body .row i {
    color: #bbb!important;
}

.empty-btn .togglebutton label:hover, .modal-body button:hover, .panel-body .row i:hover {
    color: #fff!important;
}

.empty-btn, .empty-btn:hover, .empty-btn:active {
    text-transform: none !important;
    border: none !important;
    outline: none !important;
}

.modal-header button {
    float: right;
    background-color: transparent;
    border: transparent;
    outline: none;
    padding: 2px 12px;
    margin: 0 0 -10px 0;
}

.modal-header button:active {
    background-color: rgba(255, 5, 35, 0.42);
    color: #ffffff;
}

.modal-header button:hover {
    background-color: rgb(255, 0, 0);
    color: #ffffff;
    cursor: pointer !important;
}

.panel-default button:hover {
    color: #ffffff !important;
}

.panel-default .row {
    margin: 0;
}

.panel-default button {
    color: #4e4e4e !important;
}

.form-group.has-error .help-block, .form-group.has-error label.control-label,
.form-group.has-error .help-block, .form-group.has-error label sub {
    color: #f44336 !important;
}

.has-error  {
    color: #a94442 !important;
}

.has-success  {
    color: #3c763d !important;
}

.has-error .form-control {
    color: #a94442 !important;
}

.has-success .form-control {
    color: #3c763d !important;
}

.form-group.has-success .help-block, .form-group.has-success label.control-label,
.form-group.has-success .help-block, .form-group.has-success label sub {
    color: #4caf50 !important;
}

.default-background,
.panel-default .panel-body,
.modal-body,
select option,
.modal-header,
.modal-footer,
.modal-wrapper .modal-header {
    background-color: rgba(15, 15, 15, 0.92549);
}

.panel-default .panel-body {
    box-shadow: inset 0 0 7px 4px rgb(0, 0, 0) !important;
    color: aliceblue !important;
    border: 1px solid #2f2f2f !important;
    border-radius: 0px !important;
}

.modal-header h4 {
    margin-left: 2%;
    margin-bottom: 4px !important;
    margin-top: 4px !important;
    font-size: 15px !important;
}

.modal-backdrop {
    background-color: #000 !important;
}

.modal-open #main-container {
    filter: blur(3px);
}

.modal.fade .modal-dialog {
    -webkit-transform: scale(0.1) !important;
    -moz-transform: scale(0.1) !important;
    -ms-transform: scale(0.1) !important;
    transform: scale(0.1) !important;
    top: 300px !important;
    opacity: 0 !important;
    -webkit-transition: all 0.3s !important;
    -moz-transition: all 0.3s !important;
    transition: all 0.3s !important;
}

.modal.fade.in .modal-dialog {
    -webkit-transform: scale(1) !important;
    -moz-transform: scale(1) !important;
    -ms-transform: scale(1) !important;
    transform: scale(1) !important;
    -webkit-transform: translate3d(0, -300px, 0) !important;
    transform: translate3d(0, -300px, 0) !important;
    opacity: 1 !important;
}

.modal-header {
    border-bottom: none !important;
    padding: 0 !important;
}

#widget .togglebutton label input[type=checkbox]:checked + .toggle {
    background-color: rgba(3, 169, 244, 0.5) !important;
}

#widget .togglebutton label input[type=checkbox]:checked + .toggle:after {
    background-color: #03a9f4 !important;
}

#widget .togglebutton label {
    color: rgba(255, 255, 255, 0.5) !important;
}

#widget .togglebutton label:hover {
    color: #fff !important;
}

::-webkit-scrollbar {
    height: 13px;
    width: 13px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .3);
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 7px;
}

.react-grid-item.widget-grid > div {
    margin-top: 25px;
    height: calc(100% - 35px);
    padding: 5px;
}

.widget-grid {
    /*background-color: currentColor;*/
    border-top-right-radius: 5px;
    border-top-left-radius: 5px
}

.widget-grid > div {
    overflow: auto;
}

.widget-header {
    cursor: move;
    top: 0;
    left: 0;
    color: #fff;
    padding: 2px 0 0 3px;
    position: absolute;
    display: block;
    height: 25px;
    width: 100%;
    background-color: #333;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.popover {
    max-width: 50% !important;
}

.modal-body img,
.popover img {
    max-width: 100%;
}

.loading-item {
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
}

.loading-item .loading-icon {
    height: 40px;
    width: 40px;
    margin-right: 0;
    display: inline-block;
    animation: loading 1.4s ease infinite;
    background: 0 0;
    border: 2px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
    vertical-align: -10%;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
}

.error-item {
    text-align: center;
    margin-top: 50%;
    color: #ee0000;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border-bottom: 1px solid rgba(15, 15, 15, 0.92549) !important;
}

.nav-tabs li.active a {
    border-bottom: 1px solid rgba(15, 15, 15, 0.92549) !important;
    font-weight: 900 !important;
}

.nav-tabs {
    background: transparent !important;
}

.nav-tabs a {
    outline: none !important;
}

@keyframes loading {
    0% {
        transform: scale(0);
    }
    15% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}
