.widget-grid-item {
    padding: 5px;
    width: 100%;
    position: relative;
    border-radius: 3px;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 5px;
}

.redmine-widget .badge {
    border-radius: 0 !important;
}

.redmine-widget > div {
    height: 100%;
}

.redmine-priority-1 {
    background-color: rgba(120, 144, 156, 0.85) !important;
}

.redmine-priority-2 {
    background-color: rgba(33, 150, 243, 0.85) !important;
}

.redmine-priority-3 {
    background-color: rgba(239, 108, 0, 0.85) !important;
}

.redmine-priority-4 {
    background-color: rgba(229, 57, 53, 0.85) !important;
}

.redmine-priority-5 {
    background-color: rgba(183, 1, 1, 0.85) !important;
}

.redmine-priority {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.redmine-priority,
.issue-estimated-time {
    float: right;
    font-size: 10px !important;
}

.issue-id-link-title {
    font-weight: 700;
}

.issue-id-link {
    margin-top: -3px;
    position: absolute;
    font-weight: 700;
    /*top: 0;*/
}

.time-spend-header {
    color: #03a9f4 !important;
}

.issue-update-date,
.issue-author {
    color: #1565C0;
    font-size: 10px;
}

.issue-update-date {
    float: left;
}

.issue-author {
    float: right;
}

.redmine-widget-status-reload:hover,
.redmine-widget-status-add-issue:hover,
.redmine-widget-status-settings:hover {
    color: lightgrey;
}

.redmine-widget-status-settings {
    right: 3px;
}

.redmine-widget-status-reload {
    right: 25px;
}

.redmine-widget-status-add-issue {
    right: 48px;
}

.progress-done {
    padding-bottom: 7px;
}

.progress-done .progress-bar {
    height: 3px;
}

.redmine-widget-status-reload,
.redmine-widget-status-add-issue,
.redmine-widget-status-settings {
    float: right;
    background: transparent;
    border: none;
    color: grey;
    position: absolute;
    top: 0;
}

#widget-settings-click .popover-content .form-group h4 {
    border-bottom: 1px solid gray;
}

#widget-settings-click .popover-content .form-group:not(.widget-settings-option),
#widget-settings-click .popover-content .form-group:not(.widget-settings-option) h4 {
    margin: 0 !important;
}

#widget-settings-click .popover-content {
    background: black;
    padding: 15px;
}

#widget-settings-click h4 {
    text-transform: uppercase;
    font-weight: 500;
}

#widget-settings-click .widget-settings-option .fa {
    color: #03a9f4;
}

#widget-settings-click .widget-settings-option span {
    font-size: 12px;
    cursor: pointer;
}

#widget-settings-click .widget-settings-option {
    padding: 10px 0;
}

#widget-settings-click .widget-settings-option span {
    display: inline-block;
    white-space: nowrap;
    padding-right: 30px;
}

#widget-settings-click .widget-settings-option span i.fa {
    margin-right: -30px;
}

#widget-settings-click .widget-settings-option span i:not(.fa) {
    width: 0px;
    display: inline-block;
}

.widget-settings-option .togglebutton label input[type=checkbox]:checked + .toggle {
    background-color: rgba(3, 169, 244, 0.5) !important
}

.widget-settings-option .togglebutton label input[type=checkbox]:checked + .toggle:after {
    background-color: #03a9f4 !important;
}

.widget-settings-option .options-toggle-label .toggle:after {
    width: 16px;
    height: 16px;
}

.widget-settings-option .options-toggle-label .toggle {
    width: 24px;
    height: 12px;
}

.widget-settings-option .options-toggle-label {
    width: 100%;
    border-bottom: 1px solid #2f2f2f !important;
    border-bottom: none;
    font-size: 12px;
}

.redmine-issue-subject {
    position: relative;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}

.widget-grid-inverse .redmine-issue-subject {
    color: white;
}

.widget-grid-inverse .issue-author,
.widget-grid-inverse .issue-update-date {
    color: #03a9f4;
}

.widget-grid-inverse {
    background-color: #333;
}

.widget-grid-dark .issue-author,
.widget-grid-dark .issue-update-date {
    color: #01618c;
}

.widget-grid-dark .redmine-priority-1,
.widget-grid-dark .redmine-priority-2,
.widget-grid-dark .redmine-priority-3,
.widget-grid-dark .redmine-priority-4,
.widget-grid-dark .issue-estimated-time,
.widget-grid-dark .redmine-priority-5 {
    opacity: 0.5;
}

.widget-grid-dark .redmine-issue-subject {
    text-decoration: line-through;
    color: grey !important;
}

.history-field-name {
    color: #5bc0de ;
}

.history-field-old-value {
    color: #f0ad4e;
}

.history-field-new-value {
    color: #00aa9a;
    text-decoration: underline;
}

.history-elem-remove:hover,
.history-elem-remove {
    text-decoration: line-through;
    color: #d9534f;
}

.widget-grid-dark .issue-id-link {
    color: #00655c;
}

.widget-header .settings-window-options-redmine-icon {
    margin: -2px 7px 0 5px;
}

.issue-timer:hover i {
    color: lightgrey;
}

.issue-timer span span.issue-timer-spend-current {
    left: 20px;
}

.issue-timer span span.issue-timer-spend-all {
    left: -30px;
}

.issue-timer span span.issue-timer-spend-current,
.issue-timer span span.issue-timer-spend-all {
    position: absolute;
    top: 4px;
}

.issue-timer span {
    color: #5c5c5c;
    font-size: 10px;
}

.widget-grid-inverse .issue-timer span {
    color: lightgrey;
    font-size: 10px;
}

.issue-timer i {
    color: gray;
    font-size: 20px;
}

.redmine-priority:hover span,
.issue-estimated-time:hover span {
    color: #fff !important;
}
.redmine-priority:hover,
.issue-estimated-time:hover {
    background-color: #1a1a1a !important;
    color: #fff !important;
    cursor: pointer;
}

.issue-estimated-time {
    background-color: #a2a2a2 !important;
    padding: 2px 3px !important;
}

.widget-grid-item .progress {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    opacity: 0.4;
}

.badge {
    padding: 2px 7px;
}

.rm-column-badge {
    margin-top: -4px;
    padding: 1px 7px;
}

.issue-timer {
    cursor: pointer;
    margin-top: 0;
    position: absolute;
    left: 35%;
    margin-top: -3px;
    /*top: 5px;*/
}

.widget-grid-item > .issue-notify:hover {
    color: rgb(196, 0, 0);
}

.history-type i {
    font-size: 20px;
    line-height: 30px;
}

.history-type {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: white;
    color: black;
    float: left;
    margin-right: 10px;
    margin-top: -13px;
}

.widget-grid-item > .issue-notify {
    cursor: pointer;
    color: red;
    float: left;
    margin-right: 5px;
}

.widget-grid-inverse .redmine-project:hover,
.widget-grid-inverse .redmine-add-comment:hover,
.widget-grid-inverse .issue-edit-subject:hover,
.widget-grid-inverse .issue-assign:hover {
    color: #fff;
    font-weight: 400;
}

.redmine-project:hover,
.redmine-add-comment:hover,
.issue-edit-subject:hover,
.issue-assign:hover {
    color: #000;
    font-weight: 500;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.61), 0 0 0px rgba(0, 0, 0, 0.7);
}

.widget-grid-inverse .redmine-project,
.widget-grid-inverse .redmine-add-comment,
.widget-grid-inverse .issue-edit-subject,
.widget-grid-inverse .issue-assign {
    color: #bbb;
}

.redmine-issue-subject:hover .issue-edit-subject {
    display: inline;
}

.issue-edit-subject {
    color: #333;
    display: none;
}

.redmine-project,
.issue-assign {
    cursor: pointer;
    float: left;
    color: #333;
    font-size: 10px;
}

.redmine-add-comment {
    float: right;
    cursor: pointer;
    color: #333;
    margin-top: -5px;
    margin-left: 5px;
}

.redmine-project {
    float: right;
    font-size: 10px !important;
    margin-top: -5px;
}

.widget-grid-inverse .redmine-project {
    margin-top: -5px;
}