.settings-button {
    float: left;
    position: fixed;
    bottom: 1%;
    left: 1%;
    font-size: 30px;
    color: linen;
    cursor: pointer;
    z-index: 15;
}

.settings-button i {
    margin-top: 6px;
}

.settings-button.active {
    animation: rotate 1s forwards;
}

.settings-button.reverse {
    animation: rotate-reverse 1s forwards;
}

.settings-window-options .row {
    margin: 0;
}

.settings-window {
    min-width: 40%;
    height: 50%;
    position: fixed;
    bottom: 7%;
    left: 0.5%;
    z-index: 12;
}

.settings-window.animate-none {
    display: none;
}

.settings-window.animate-show {
    animation: showSettings 1s forwards;
}

.settings-window::before {
    bottom: -10px;
    border-top: 12px solid rgba(15, 15, 15, .925);
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    content: '';
    left: 12px;
}

.settings-window.animate-hide {
    animation: hideSettings 1s forwards;
}

.settings-window-list, .settings-window-delimiter, .settings-window-options {
    float: left;
    height: 100%;
}

.settings-window-options {
    width: 500px;
}

.settings-window-options .togglebutton {
    margin-top: 5px;
}

.settings-window-options .togglebutton label .toggle:after {
    width: 16px;
    height: 16px;
}

.settings-window-options .togglebutton label .toggle, .togglebutton label input[type=checkbox][disabled] + .toggle {
    width: 24px;
    height: 12px;
}

.settings-window-options .togglebutton label {
    font-size: 13px;
    height: 22px;
}

.settings-window-list, .settings-window-options {
    overflow: auto;
    background: rgba(15, 15, 15, 0.92549);
}

.settings-window-list {
    width: 170px;
}

.settings-window-delimiter {
    width: 1px;
    background: transparent;
}

.settings-window-list ul {
    padding: 40px 0 0 25px;
    list-style: none;
}

.settings-window-list ul li {
    cursor: pointer;
    padding: 2px;
}

.settings-window-list ul li.active {
    color: #fff;
    font-size: 110%;
}

.settings-window-options .form-group.has-info.is-focused .control-label input {
    color: #fff !important;
}

.settings-window-options .form-group.has-info.is-focused .form-control {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)),
    -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#fff, #fff), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#fff, #fff), -o-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: linear-gradient(#fff, #fff), linear-gradient(#D2D2D2, #D2D2D2);
}

.settings-window-options .form-group.has-info.is-focused label sub {
    color: #fff;
}

.settings-window-options label {
    margin: 0 !important;
    width: 100%;
}

.settings-window-options label sub {
    bottom: 0.75em;
}

.settings-window-options-header {
    color: #fff;
    padding: 25px;
    margin-bottom: -25px;
    font-size: 150%;
}

.settings-window-options-backgrounds .background-wallpaper {
    background-size: cover !important;
    float: left;
    width: 102px;
    margin: 8px;
    height: 63px;
    cursor: pointer;
}

.settings-window-options-backgrounds .background-wallpaper:hover {
    box-shadow: 0 0 0 128px rgba(0, 0, 0, 0.33) inset;
}

.settings-window-options-backgrounds i {
    color: #fff;
}

.settings-window-options-backgrounds .background-check {
    float: right;
    width: 17%;
    text-align: center;
    opacity: 1;
}

.options-toggle-label {
    border-bottom: 1px solid grey;
}

.options-toggle {
    float: right;
}

.settings-window-options .togglebutton label input[type=checkbox]:checked + .options-toggle {
    background-color: gray !important;
}

.settings-window-options .togglebutton label input[type=checkbox]:checked + .toggle:after {
    background-color: lightgray !important;
}

.settings-window-options .togglebutton label .toggle:after {
    background-color: gray !important;
}

.settings-window-options .options-toggle-label:hover {
    color: #fff !important;
}

.settings-window-options .options-toggle-label:hover input[type=checkbox]:checked + .toggle:after {
    background-color: #fff !important;
}

.settings-window-options .options-toggle-label:hover input[type=checkbox] + .toggle:after {
    background-color: lightgrey !important;
}

.settings-window-options .options-toggle-label {
    color: grey;
}

.settings-window-options .options-toggle-label.active {
    color: lightgrey;
}

.settings-window-options-redmine-icon {
    margin: -3px 7px 0 5px;
}

.settings-window-options-timer-icon {
    margin: -5px 7px 0 5px;
}

.settings-window-options-weather-icon {
    margin: -8px 7px 0 5px;
}

.settings-window-options-redmine-icon,
.settings-window-options-timer-icon,
.settings-window-options-weather-icon {
    width: 20px;
    float: left;
    background-size: contain !important;
}

.settings-window-options-redmine-icon {
    background: url("./../../../image/redmine.png") no-repeat center;
    height: 20px;
}

.options-toggle-label .settings-window-options-timer-icon {
    margin-top: -3px;
    margin-bottom: 2px;
    height: 20px;
}

.settings-window-options-timer-icon {
    background: url("./../../../image/icon128-2x.png") no-repeat center;
    height: 30px;
}

.settings-window-options-weather-icon {
    background: url("./../../../image/weather.png") no-repeat center;
    height: 30px;
}

.settings-options-widget-slider:hover i {
    color: #fff;
}

.settings-options-widget-slider.disabled,
.settings-options-widget-slider.disabled:hover i {
    color: gray !important;
    cursor: not-allowed;
}

.settings-options-widget-slider {
    cursor: pointer;
    font-size: 20px;
    margin: 0 -7px 0 7px;
}

.settings-widget-header-wrapper .settings-window-options-redmine-icon {
    width: 35px;
    height: 35px;
}

.widget-settings-active i.fa-angle-right {
    margin: 0 10px;
}

.widget-settings-active:hover span {
    color: lightgrey;
}

.widget-settings-active {
    cursor: pointer;
    font-size: 80%;
    color: gray;
    margin-top: 4px;
}

@keyframes hideSettings {
    0% {
        opacity: 1;
        height: 50%;
    }
    100% {
        opacity: 0;
        height: 0;
    }
}

@keyframes showSettings {
    0% {
        opacity: 0;
        height: 0;
    }
    100% {
        opacity: 1;
        height: 50%;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-reverse {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}