.timer-list {
    margin: 15px;
}

.timer-list-date {
    height: 36px;
    padding: 8px;
}

.timer-list-button {
    color: #d43a34 !important;
    padding: 8px 15px !important;
    width: 65px !important;
    margin: 0 !important;
}

.table tr:hover {
    background-color: #292929;
}

.table td {
    border-top: none !important;
    padding: 3px !important;
    vertical-align: middle !important;
}

/*.widget-grid.tw-widget:hover .widget-header.header-transparent {
    opacity: 0.05 !important;
}*/

/*.widget-header.header-transparent {
    opacity: 0 !important;
}*/

.widget-grid.tw-widget {
    background: radial-gradient(50% 50%, rgba(0, 0, 0, 0.36), rgba(255,255,255,0));
}

.widget-grid.tw-widget > div {
    margin-top: 0 !important;
    height: calc(100% - 15px) !important;
    overflow: hidden !important;
}

.widget-grid.tw-widget {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.flip-clock-dot {
    background-color: #fff !important;
}

.flip-clock-label {
    color: #fff !important;
    font-weight: 900 !important;
    font-size: 18px !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.61), 0 0 10px rgba(0, 0, 0, 0.7) !important;
}

.flip-clock-wrapper {
    margin-top: 6% !important;
}

.timer-header {
    position: absolute;
    bottom: 0;
    font-weight: 900;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.61), 0 0 10px rgba(0, 0, 0, 0.7) !important;
}

.inverse-color-timer .flip-clock-wrapper ul li a div div.inn {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 200%;
    color: #000;
    text-shadow: 0 1px 2px #fff;
    text-align: center;
    background-color: #fff;
    border-radius: 6px;
    font-size: 70px;
}

/*
.flip-clock-wrapper ul li {
    line-height: 40px !important;
}

.flip-clock-dot.bottom {
    bottom: 65px !important;
}

.flip-clock-dot.top {
    background-color: #ccc !important;
    top: 15px !important;
}

.flip-clock-dot {
    background-color: #ccc !important;
    width: 5px !important;
    height: 5px !important;
}

.flip-clock-wrapper ul {
    width: 29px !important;
    height: 39px !important;
    padding: 0 !important;
}

.flip-clock-wrapper ul li a div.up:after {
    top: 20px !important;
    background-color: #000 !important;
}

.flip-clock-wrapper ul li a div div.inn {
    font-size: 25px !important;
}

.flip-clock-wrapper {
    position: absolute !important;
    left: 0 !important;
    top: 10% !important;
    height: 100%;
}
*/
