.main-header, .main-header-drag {
    position: fixed;
    top: 0;
    cursor: move;
    height: 24px;
    z-index: 5;
    background-color: transparent !important;
}

.main-icon-fro-save {
    background: url(./../image/dashboard-512.png);
}

.main-header-drag {
    z-index: 4;
    width: calc(100% - 141px);
    -webkit-app-region: drag;
}

.main-header .modal-header .third-custom {
    padding-top: 0;
    padding-bottom: 0;
}

.main-header .modal-header {
    background-color: transparent !important;
}

.main-header {
    width: 100%;
    background-color: rgba(153, 153, 153, 0.32) !important;
    min-height: 24px;
}

.close.hairline::before, .close.hairline::after {
    height: 1px;
}

.close-custom {
    color: #fff;
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    overflow: hidden;
}

.close-custom::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close-custom::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.modal-header button {
    padding: 0 12px !important;
    margin: 0 !important;
    height: 24px !important;
}

.modal-header button.first-header-button:active {
    background-color: rgba(255, 0, 6, 0.66) !important;
    color: #ffffff;
}

.modal-header button.second-header-button:active {
    background-color: rgba(0, 0, 0, 0.18) !important;
    color: #ffffff;
}

.modal-header button.second-header-button .third-custom {
    height: 0;
}

.modal-header button.second-header-button .third-custom,
.modal-header button.second-header-button .second-custom {
    border: 1px solid #fff;
    width: 16px;
    margin: 4px 3px;
    display: inline-block;
}

.modal-header button.second-header-button .second-custom {
    height: 16px;
}

.modal-header button.second-header-button:hover {
    background-color: rgba(0, 0, 0, 0.29);
}

.close-custom::before, .close-custom::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #fff;
}