@font-face {
    font-family: 'Cormorant';
    src: local('Cormorant Light'), local('Cormorant-Light'), url('./../font/Cormorantlight.woff2') format('woff2'), url('./../font/Cormorantlight.woff') format('woff'), url('./../font/Cormorantlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant';
    src: local('Cormorant Light Italic'), local('Cormorant-LightItalic'), url('./../font/Cormorantlightitalic.woff2') format('woff2'), url('./../font/Cormorantlightitalic.woff') format('woff'), url('./../font/Cormorantlightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Cormorant';
    src: local('Cormorant'), local('Cormorant-Regular'), url('./../font/Cormorant.woff2') format('woff2'), url('./../font/Cormorant.woff') format('woff'), url('./../font/Cormorant.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant';
    src: local('Cormorant Italic'), local('Cormorant-Italic'), url('./../font/Cormorantitalic.woff2') format('woff2'), url('./../font/Cormorantitalic.woff') format('woff'), url('./../font/Cormorantitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Cormorant';
    src: local('Cormorant Book'), local('Cormorant-Book'), url('./../font/Cormorantbook.woff2') format('woff2'), url('./../font/Cormorantbook.woff') format('woff'), url('./../font/Cormorantbook.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant';
    src: local('Cormorant Book Italic'), local('Cormorant-BookItalic'), url('./../font/Cormorantbookitalic.woff2') format('woff2'), url('./../font/Cormorantbookitalic.woff') format('woff'), url('./../font/Cormorantbookitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Cormorant';
    src: local('Cormorant Semibold'), local('Cormorant-Semibold'), url('./../font/Cormorantsemibold.woff2') format('woff2'), url('./../font/Cormorantsemibold.woff') format('woff'), url('./../font/Cormorantsemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant';
    src: local('Cormorant Semibold Italic'), local('Cormorant-SemiboldItalic'), url('./../font/Cormorantsemibolditalic.woff2') format('woff2'), url('./../font/Cormorantsemibolditalic.woff') format('woff'), url('./../font/Cormorantsemibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Cormorant';
    src: local('Cormorant Bold'), local('Cormorant-Bold'), url('./../font/Cormorantbold.woff2') format('woff2'), url('./../font/Cormorantbold.woff') format('woff'), url('./../font/Cormorantbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant';
    src: local('Cormorant Bold Italic'), local('Cormorant-BoldItalic'), url('./../font/Cormorantbolditalic.woff2') format('woff2'), url('./../font/Cormorantbolditalic.woff') format('woff'), url('./../font/Cormorantbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

.background-overlay {
    position: fixed;
    /*border: 1px solid #47c1f3;
    outline: 1px solid #116bff;*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: url(./../image/overlay.png);
    background-size: 100% 100%;
}

.prompt h2, #centerclock h1, #focus, #greeting h2, #introduction, #login {
    text-align: center;
    /*line-height: 1;
    padding: 0;*/
    margin: 0;
    color: #fff;
    /*letter-spacing: -5px;*/
    font-size: 600%;
    font-weight: 600;
}

.prompt input {
    width: 30%;
    margin: 0 auto;
    font-size: 500%;
    display: block;
    padding-top: 20px;
    background: 0;
    border: 0;
    border-bottom: 3px solid #fff;
    color: #fff;
    font-weight: 500;
    outline: 0;
    text-align: center;
}

#centerclock .time {
    font-size: 2000%;
}

#widget {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}

.fadein {
    -webkit-animation: fadein .5s ease 0s forwards;
}

.time, #greeting h2, .prompt h2, .prompt input {
    font-family: 'Cormorant', sans-serif;
}

#center {
    -webkit-user-select: none;
    z-index: 10;
    position: absolute;
    display: block;
    top: 44%;
    left: 50%;
    width: 100%;
    text-align: center;
    -webkit-transform: translate(-50%,-50%);
}

.react-grid-layout {
    position: relative;
    transition: height 200ms ease;
}
.react-grid-item {
    transition: all 200ms ease;
    transition-property: left, top;
}
.react-grid-item.cssTransforms {
    transition-property: transform;
}
.react-grid-item.resizing {
    z-index: 1;
}

.react-grid-item.react-draggable-dragging {
    transition: none;
    z-index: 3;
}

.react-grid-item.react-grid-placeholder {
    background: rgba(211, 211, 211, 0.25) !important;
    opacity: 1;
    transition-duration: 100ms;
    z-index: 11;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.react-grid-item > .react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    padding: 0 3px 3px 0;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=') no-repeat bottom right;
    background-origin: content-box;
    box-sizing: border-box;
    cursor: se-resize;
}

.widget-grid {
    height: 100%;
    width: 100%;
    /*background-color: rgba(15, 15, 15, 0.72549)*/
}

.radio input[type=radio]:checked~.circle, label.radio-inline input[type=radio]:checked~.circle {
    border-color: #03a9f4 !important;
}

.radio input[type=radio]:checked~.check, label.radio-inline input[type=radio]:checked~.check {
    background-color: #03a9f4 !important;
}