.sketch-picker {
    background-color: #333 !important;
}

.flexbox-fix > div > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) {
    background: linear-gradient(to right, #fff 0%, rgb(34, 25, 77) 100%) !important;
}

.flexbox-fix > div > div > input {
    color: #fff !important;
    background-color: #333 !important;
    box-shadow: rgb(101, 101, 101) 0px 0px 0px 1px inset !important;
}

.flexbox-fix > div > div > span {
    color: #fff !important;
}